.pricingplan_container {
  margin-bottom: 10rem;
  padding: 0 6rem 0 6rem;

  .header_part {
    text-align: center;

    h6 {
      font-weight: 800;
      color: var(--secondary);
    }
    h1 {
      font-weight: 700;
      color: var(--dark);
    }
  }
}
