:root {
  --danger: #ff3e41;
  --secondary: #51cfed;
  --light: #f8f2f0;
  --dark: #060315;
}

.carousel-item {
  position: relative !important;
  height: 89vh;
  transition-duration: 1.2s !important;
  transition: 1.2s !important;

  .text_background {
    background-color: rgba(0, 0, 0, 0.643);
    position: absolute !important;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;

    .welcome_text_container {
      width: 50%;
      margin-left: 7rem;

      .primary_colour {
        color: var(--secondary) !important;
      }
      h5 {
        line-height: 1.12;
        margin-bottom: 11px;
        animation-delay: 0.3s;
        animation-duration: 1s;
        font-size: 16px;
        color: #525258 !important;
      }
      h1 {
        font-weight: bolder;
        color: var(--dark);
      }
      .row {
        width: 62%;
        display: flex !important;
        flex-direction: row;
      }
    }
  }
}

.carouselItems {
  position: relative !important;

  .col-2 {
    position: absolute !important;
    top: 38%;
    right: 0;
    width: 12% !important;

    button {
      background-color: transparent;
      border: 1px solid white;
      margin-bottom: 0.8rem;
      border-radius: 50px;
      padding: 10px;
      height: 45px;
      width: 45px;
      display: flex;
      align-items: center;
      transition: 0.8s;
    }

    button:hover {
      background-color: var(--danger);
      transition: 0.8s;
      border-color: var(--danger);
    }
  }
  .items_container {
    width: 100% !important;
    padding: 10rem !important;
    opacity: 999;
    height: 100vh;
    position: absolute;
    top: 0;
  }
}

@media only screen and (max-width: 768px) {
  .carousel-item {
    img {
      height: 100% !important;
      width: 100% !important;
      object-fit: cover;
    }
    .text_background {
      .welcome_text_container {
        width: 80%;
        margin-left: 1rem !important;
        padding: 20px 0 20px 0;
        height: 50%;

        .primary_colour {
          color: var(--secondary) !important;
        }
        h5 {
          font-weight: bolder;
          font-size: 90%;
        }
        h1 {
          font-weight: bolder;
          font-size: 30px !important;
        }

        p {
          font-size: 80% !important;
        }
        .row {
          width: 62%;
          display: flex !important;
          flex-direction: row;
        }
      }
    }

    .carouselItems {
      position: relative !important;

      .col-2 {
        position: absolute !important;
        top: 40%;
        right: 0;

        button {
          background-color: transparent;
          border: 1px solid white;
          margin-bottom: 0.8rem;
          border-radius: 50px;
          padding: 10px;
          height: 45px;
          width: 45px;
          display: flex;
          align-items: center;
          transition: 0.8s;
        }

        button:hover {
          background-color: var(--danger);
          transition: 0.8s;
          border-color: var(--danger);
        }
      }
      .items_container {
        width: 100% !important;
        padding: 10rem !important;
        opacity: 999;
        height: 100vh;
        position: absolute;
        top: 0;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .carousel-item {
    img {
      height: 100% !important;
      width: 100% !important;
      object-fit: cover;
    }
    .text_background {
      .welcome_text_container {
        width: 80%;
        margin-left: 1rem !important;
        padding: 20px 0 20px 0;
        height: 50%;

        .primary_colour {
          color: var(--secondary) !important;
        }
        h5 {
          font-weight: bolder;
          font-size: 90%;
        }
        h1 {
          font-weight: bolder;
          font-size: 30px !important;
        }

        p {
          font-size: 80% !important;
        }
        .row {
          width: 62%;
          display: flex !important;
          flex-direction: row;
        }
      }
    }
  }

  .carouselItems {
    position: relative !important;

    .col-2 {
      position: absolute !important;
      top: 40%;
      right: 0;

      button {
        background-color: transparent;
        border: 1px solid white;
        margin-bottom: 0.8rem;
        border-radius: 50px;
        padding: 10px;
        height: 45px;
        width: 45px;
        display: flex;
        align-items: center;
        transition: 0.8s;
      }

      button:hover {
        background-color: var(--danger);
        transition: 0.8s;
        border-color: var(--danger);
      }
    }
    .items_container {
      width: 100% !important;
      padding: 10rem !important;
      opacity: 999;
      height: 100vh;
      position: absolute;
      top: 0;
    }
  }
}
