.ourservice_container{
    margin-bottom: 10rem;
    padding: 0 6rem 0 6rem;

    .header_text{
        text-align: center;
        
        h6{
            color: var(--secondary);
            font-weight: 800;
            margin-bottom: .5rem;
        }

        h1{
            font-weight: 700;
            color: var(--dark);
        }
    }

    .row{
        justify-content: center !important;
        align-items: center !important;
        margin-bottom: 1.5rem;
    }
}