.shopitems_container {
  padding: 3rem 3rem 3rem 3rem;
  margin-bottom: 5rem;

  .shopitems_header_container {
    .first_column {
    }
    .second_column {
      .nav-tabs {
        border: 0 !important;

        .nav-link {
          color: black !important;
          border: none !important;
          font-weight: 600;
          font-size: 14px;
          padding-left: 5px;
          padding-right: 5px;
          position: relative;
          margin-left: 1rem;
        }
        .nav-links:hover {
          border: none !important;
        }

        .active {
          border-bottom: 2px solid var(--primary) !important;
          color: var(--primary) !important;
          padding-bottom: 0;
        }
      }
    }
  }
}

.tab-content {
  .fade {
    display: none !important;
  }

  .active {
    display: block !important;
  }
}

.shopitems_items {
  margin-top: 2rem;
}
